/* css for sensor_review html page */

body {
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5459;
  }

#head h1{
    text-align: center;
    letter-spacing: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  .topnav {
    overflow: hidden;
    background-color: #f7d2e9;
  }
  
  .topnav a {
    float: left;
    color: #5c5459;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 18px;
    border-right-style: dotted;
  }
  
  .topnav a:hover {
    background-color: #d9ced4;
    color: black;
  }

  #resourceLink {
    font-weight: bold;
    }

  li {
    list-style-type: none;
  }

  ul {
    padding: 0;
  }

  .container1 {
    background-color: #d3f5dd;
    padding: 15px 15px;
    text-align: left;
  }

  .container2 {
    background-color: #f4f5d3;
    padding: 15px 15px;
    text-align: left;
  }

  .container3 {
    background-color: #d3f5dd;
    padding: 15px 15px;
    text-align: left;
  }

  .container4 {
    background-color: #f4f5d3;
    padding: 15px 15px;
    text-align: left;
  }

  .container5 {
    background-color: #d3f5dd;
    padding: 15px 15px;
    text-align: left;
  }

  footer {
    text-align: center;
  }