
div {
    border-style: ridge;
    color: #2f353d;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  .col-md-6 {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row:first-child .column {
    height: 420px;
}

.col-md-6 {
    padding-left: 10px;
    background-color: #e3bcbe;
}

#subhead1 {
    font-weight: bold;
    text-align: center;
}

#subhead {
    font-weight: bold;
}

img {
    border-radius: 7px;
    height: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}



@media only screen and (min-width: 100px) {
    /* For tablets: */

    /* this will change the container class background to red when tablet*/

    .column {
        background-color: #b6c9e3;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: will change the container class to orange*/

    .column {
        background-color: lightgray;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: will change the container class to orange*/

    .column {
        background-color: lightgoldenrodyellow;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop: will change the container class to orange*/

    .column {
        background-color: #b6c9e3;
    }
}

